body {
            font-family: sans-serif;
            line-height: 1.6;
            margin: 2em;
      }

#downloadBtn {
            background-color: #0066CC;
            color: #FFF;
            cursor: pointer;
            border: none;
            border-radius: 1em;
            padding: .5em 1em;
      }

.container {
            display:flex;
            max-width: 800px;
            margin: 0 auto;
      }

.column-left {
            width: 80%;
            padding: 1em;
}

.column-right {
            width: 20%;
            padding: 2em;
}

.footer {
            border-top: .1em solid #CCC;
            margin-top: 1em;
        }

/* Media Queries for Responsiveness */
@media (max-width: 430px) {
.container {
            width: 95%;
            flex-direction: column;
        }

.container ul {
            padding-left: 1em;
            }
            
.column-right {
            visibility: hidden;
}
            
}
